<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        iframe {
            border: 1px solid black;
            width: 100%;
        }
        
        .output {
            background: #eee;
        }
    </style>
</head>
<body>
    <div id="output">
        <iframe src="https://www.postman-beta.com/cooper/workspace/cfpublic/overview?embedded=true&embedState=eyJ3aWRnZXRJZCI6IndvcmtzcGFjZU92ZXJ2aWV3V2lkZ2V0IiwicGFyYW1zIjp7IndvcmtzcGFjZUlkIjoiZGMwOTMyNjItZTRlZC00ZmQ2LThlMzYtNzVmN2Q3OTg5OWVkIiwicm91dGVQYXJhbXMiOnt9LCJxdWVyeVBhcmFtcyI6e319fQ%3D%3D&theme=dark&_track=br-feature-hackfest-11-embedded-postman" width="1000" height="500"></iframe>
    </div>
</body>
</html>