<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        iframe {
            border: 1px solid black;
            width: 100%;
        }
        
        .output {
            background: #eee;
        }
    </style>
</head>
<body>
    <div id="output" style="width: 1000px;">
        <iframe src="https://cooper.postman-beta.co/workspace/Embeded-Postman-Test-Workspace~7d828bc0-55c9-449f-bf42-44008dfe1f15/request/507243-f1ad324d-1fca-476e-ae1a-ed9dbff403b1?embedded=true&embedState=eyJ3aWRnZXRJZCI6IndvcmtzcGFjZVJlcXVlc3RXaWRnZXQiLCJwYXJhbXMiOnsid29ya3NwYWNlSWQiOiI3ZDgyOGJjMC01NWM5LTQ0OWYtYmY0Mi00NDAwOGRmZTFmMTUiLCJyb3V0ZVBhcmFtcyI6eyJyaWQiOiI1MDcyNDMtZjFhZDMyNGQtMWZjYS00NzZlLWFlMWEtZWQ5ZGJmZjQwM2IxIn0sInF1ZXJ5UGFyYW1zIjp7fX19&theme=light&_track=br-feature-hackfest-11-embedded-postman" width="840" height="720" frameborder="0"></iframe>
    </div>
</body>
</html>